<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write something here ... (max 140 chars)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>